<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>    <html class="ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <meta name="language" content="fr-FR">
        
        <link rel="stylesheet" href="/dist/css/team/master.min.css">
        <!--[if lt IE 9]>
            <link rel="stylesheet" href="/dist/css/ie8/master.min.css">
        <![endif]-->
        <title><%= team.name %> - Miit</title>
        <script>
            // ie8 polyfill for html5 elements
            document.createElement('header');
            document.createElement('footer');
            document.createElement('section');
            document.createElement('aside');
            document.createElement('nav');
            document.createElement('article');
            document.createElement('figure');

            // ie8 polyfill for console.log
            (function(global) {
              'use strict';
              global.console = global.console || {};
              var con = global.console;
              var prop, method;
              var empty = {};
              var dummy = function() {};
              var properties = 'memory'.split(',');
              var methods = ('assert,clear,count,debug,dir,dirxml,error,exception,group,' +
                 'groupCollapsed,groupEnd,info,log,markTimeline,profile,profiles,profileEnd,' +
                 'show,table,time,timeEnd,timeline,timelineEnd,timeStamp,trace,warn').split(',');
              while (prop = properties.pop()) if (!con[prop]) con[prop] = empty;
              while (method = methods.pop()) if (!con[method]) con[method] = dummy;
            })(typeof window === 'undefined' ? this : window);
        </script>
    </head>
    <body>
        <div id="content">
            <div class="sidr-left bg-blue-grey"></div>
            <div class="page">
                <div class="page-header"></div>
                <div class="loading-content">
                    <div class="loading">
                        <img src="/img/logo-miit-outter.png" alt="Miit">
                        <img class="inner" src="/img/logo-miit-inner.png" alt="Miit">
                    </div><br>
                    <%= __('team.loading') %>
                </div>
            </div>
        </div>

        <!--[if lt IE 9]>
            <script type="text/javascript" src="/dist/lib/excanvas.js"></script>
            <script type="text/javascript" src="/dist/lib/es5-shim.min.js"></script>
            <script type="text/javascript" src="/dist/lib/es5-sham.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="/dist/js/primus.js"></script>
        <script type="text/javascript" src="/dist/js/lib.min.js"></script>
        <script type="text/javascript" src="/dist/js/team.min.js"></script>
        <script type="text/javascript">
            window.onload = function() {
                // Set default value to initialize the storage
                window.MiitApp.shared.set('user', <%- JSON.stringify(user) %>);
                window.MiitApp.shared.set('team', <%- JSON.stringify(team) %>);
                window.MiitApp.shared.set('applications', <%- JSON.stringify(apps) %>);
            };
        </script>
    </body>
</html>